* {
  margin: 0;
  padding: 0;
}

.seymour-one-regular {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  /*
    lupa {
        position: relative;

        &__form {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          opacity: 0;
          transition: all 0.3s ease-in-out;

          &:hover {
            width: 150px;
            opacity: 1;
          }
        }
      }*/
}
header .navbar {
  padding: 1rem;
  background-color: #061b24;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
header .navbar .navbar-brand {
  text-align: center;
  padding: 0 10px;
}
header .navbar .navbar-brand .logo {
  margin: 0 auto;
}
header .navbar .lupa {
  display: flex;
  background-color: aqua;
  width: 3rem;
}
header .navbar .lupa .form-control {
  width: 6rem;
}
header .navbar .navbar-toggler {
  display: flex;
  color: white;
  border: none !important;
}
header .navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #ffffff;
  color: #ffffff;
  width: 2.5rem;
}
header .navbar ul {
  list-style: none;
}
header .navbar ul li a {
  color: #ffffff;
  text-decoration: none;
}
header .navbar .nav-link {
  position: relative;
}
header .navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  /* Ajusta esta medida para cambiar la distancia del subrayado */
  height: 2px;
  /* Ajusta esta medida para cambiar el grosor del subrayado */
  width: 0;
  background-color: #ffffff;
  /* Cambia el color del subrayado */
  transition: width 0.3s ease-in-out;
}
header .navbar .nav-link:hover::after {
  width: 100%;
}

/**/
footer {
  background-color: #061b24;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem !important;
  padding: 3rem !important;
}
footer ul {
  padding: 0;
}
footer ul li {
  font-weight: 600;
}
footer ul li a {
  color: #abbed1;
}
footer .redes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none !important;
}
footer .redes .btn {
  width: 4rem;
  padding: auto;
  margin: 0;
}

.btn-outline-success {
  background-color: #03676e;
  color: #ffffff;
  border-radius: 5px;
}

.card {
  background-color: #ffffff;
}

.card {
  transition: transform 0.5s;
  overflow: hidden;
  border-color: #ccc;
  border-width: 0.3rem;
  border-radius: 0%;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.card:hover .card-img-overlay {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  /* Efecto de zoom sutil */
  visibility: visible;
  /* Mostramos el overlay al pasar el mouse */
}
.card .card-img-overlay {
  /* ... otros estilos ... */
  visibility: hidden;
  /* Ocultamos el overlay por defecto */
}
.card .title {
  font-size: 3rem !important;
  font-weight: 800;
}

/****formulario de contacto****/
.contact-form-area {
  background: #fff;
  -webkit-box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 25px rgba(194, 194, 194, 0.25);
  border-radius: 26px;
  padding: 100px;
  margin-top: 120px;
  position: relative;
  z-index: 1;
}

.contact-form-heading h3 {
  color: #323657;
  text-align: center;
  margin-bottom: 60px;
  font-weight: 700;
}

.contact-form-area input[type=text] {
  width: 49.6%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #323657;
  padding: 10px 5px;
  color: #323657;
}

.contact-form-area input[type=email] {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #323657;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #323657;
  padding: 10px 5px;
}

.contact-form-area textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #323657;
  color: #323657;
  padding: 10px 5px;
}

#formsend {
  background: #027368;
  color: #ffffff;
  border: none;
  padding: 12px 42px;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}
#formsend:hover {
  background: #04ADBF;
}

.form-contacto {
  height: auto;
}

.newsletter {
  padding-top: 0 !important;
}

#map {
  width: 100%;
  height: 600px !important;
  margin-top: 120px !important;
}

.w-100 p {
  color: #ffffff;
  border-radius: 10px;
  height: auto;
  font-size: 1.5rem;
  position: absolute;
  /* Posiciona el texto de forma absoluta dentro del contenedor este position es el que hace el texto quede sobre el video y el z-index 100 hace que se muestre el modal dejandolo por adelante del video*/
  top: 40%;
  left: 42%;
}
.w-100 p span {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.w-100 p span .btn-danger {
  background-color: #fa5604;
  border: none;
}
.w-100 p span .btn-warning:hover {
  color: #d6e0e1 important;
}
.w-100 p span .ahora {
  color: #fa5604;
  font-weight: 700;
}

main h1 {
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main .texto-bienvenida {
  position: absolute;
  text-align: center;
  width: 50%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%); /* Centra el texto horizontal y verticalmente */
}
main .texto-bienvenida .bienvenido {
  color: #e8f4f4;
  font-family: "Seymour One", sans-serif;
  padding: 10px;
}
main .texto-bienvenida h3 {
  font-weight: 700;
  color: #e8f4f4;
}
main .texto-bienvenida .descubri {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.6rem;
  position: relative;
  /* Posiciona el texto de forma absoluta dentro del contenedor */
}
main .texto-bienvenida .descuento {
  position: relative;
  /* Posiciona el texto de forma absoluta dentro del contenedor */
  top: 40%;
  z-index: 500;
}
main .texto-bienvenida .descuento p {
  color: #ffffff;
  border-radius: 10px;
  height: auto;
  font-size: 1.5rem;
}
main .texto-bienvenida .descuento p span {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
main .texto-bienvenida .descuento p span button {
  z-index: 1000;
}
main .texto-bienvenida .descuento p span .btn-danger {
  background-color: #fa5604;
  border: none;
}
main .texto-bienvenida .descuento p span:hover {
  color: #d6e0e1 important;
}
main .background_video {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
  width: 100%;
}
main .background_video video {
  flex-grow: 1;
  width: 100% !important;
}

section .disfruta {
  text-align: center;
  font-size: 2rem;
  color: #fa5604;
}
section h4 {
  color: #9ebb10;
}

main section .fs-2 {
  font-size: 3rem !important;
  font-weight: 600;
}

.seccion_principal {
  text-align: center;
  font-weight: 800;
  color: #ffffff;
  padding: 0;
}
.seccion_principal h1 {
  color: #040746;
}
.seccion_principal h1 .p-4 {
  font-weight: 600;
}
.seccion_principal .fs-5 {
  color: #040746;
  font-size: 1.2rem;
  font-weight: 300;
}
.seccion_principal .explora {
  flex-direction: column;
  display: flex;
  background-color: #08364A;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  list-style: none !important;
  padding-left: 0;
  font-size: 3.5rem;
}
.seccion_principal .explora .btn {
  width: 5.5rem;
}
.seccion_principal .explora ul {
  list-style-type: none !important;
}

aside {
  text-align: center;
}

.info {
  margin-top: 10rem;
}
.info .container {
  align-items: center;
}
.info .container .fs-1 {
  font-size: 3rem !important;
  color: #eb5d20;
}
.info .nosotros {
  font-size: 1.2rem;
  width: 80%;
}
.info .container-fluid {
  margin: 4rem 0 4rem !important;
}
.info .container-fluid h4 {
  text-align: center;
  font-size: 3rem !important;
  color: #eb5d20;
}

.clientes {
  text-align: center;
}
.clientes h3 {
  color: rgb(37, 20, 220);
}
.clientes figcaption {
  font-size: 1rem;
}

/*********************************************Mediaqueries********************************************/
@media (max-width: 768px) {
  body .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  body .wrapper header {
    display: flex;
    justify-content: space-around;
    background-color: fuchsia;
    /*ver despues como oculto solo el buscador y pongo icono lupa
    .d-flex {
        display: none !important;
    }
    */
  }
  body .wrapper header .navbar .navbar-brand {
    text-align: center;
    padding: 0 10px;
  }
  body .wrapper header .navbar .navbar-brand .logo {
    margin: 0 auto;
  }
  body .wrapper main .texto-bienvenida {
    top: 17%;
  }
  body .wrapper main .texto-bienvenida .bienvenido {
    font-size: 1rem !important;
    padding: auto;
  }
  body .wrapper main .texto-bienvenida .descubri {
    margin-top: 1rem !important;
    font-size: 0.8rem !important;
    top: 30%;
  }
  body .wrapper main .texto-bienvenida .descuento {
    top: 35% !important;
  }
  body .wrapper main .texto-bienvenida .descuento p {
    font-size: 0.5rem;
  }
  body .wrapper main .texto-bienvenida .descuento span button .btn-danger {
    background-color: #040746 !important;
  }
  body .wrapper section .disfruta {
    font-size: 1.2rem;
  }
  body .wrapper section .fs-5 {
    font-size: 0.8rem !important;
  }
  body .wrapper section p {
    font-size: 0.6rem;
    text-align: center;
    justify-self: flex-start;
  }
  body .wrapper section .card {
    align-items: center;
  }
  body .wrapper section .card img {
    width: 60%;
  }
  body .wrapper section .card .card-body {
    width: 60%;
  }
  .seccion_principal .seccion_principal {
    text-align: center;
    font-weight: 800;
    color: #ffffff;
    padding: 0;
  }
  .seccion_principal .fs-5 {
    color: #040746;
    font-size: 0.6rem;
    font-weight: 300;
  }
  .seccion_principal .explora {
    flex-direction: column;
    display: flex;
    background-color: #08364A;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style: none !important;
    padding-left: 0;
    font-size: 3.5rem;
  }
  .seccion_principal .explora .btn {
    width: 5.5rem;
  }
  .seccion_principal .explora ul {
    list-style-type: none !important;
  }
  aside {
    text-align: center;
  }
}
footer {
  display: block;
  justify-content: center;
}
footer .container {
  display: flex;
  justify-content: center;
}
footer .container .row .col .navbar-brand {
  margin-right: 0;
}
footer .container .row .col .navbar-brand .logo {
  width: 50%;
  background-color: cornflowerblue;
}
footer .container .row .col .text-center {
  font-size: 2rem !important;
}

@media (max-width: 320px) {
  .logo {
    width: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    position: sticky;
    display: flex;
    justify-content: space-around;
  }
  .navbar .title {
    font-size: 1.2rem !important;
  }
  .navbar .logo {
    width: 5rem;
  }
  .navbar .mt-5 {
    margin-top: 0rem !important;
    padding-top: 0rem !important;
  }
  .navbar .explora .card-text {
    font-size: 2.2rem !important;
    font-weight: 800;
    height: auto;
  }
  .navbar aside .card-title {
    font-size: 1.1rem !important;
  }
  .navbar .container-fluid {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .navbar {
    position: sticky;
    display: flex;
    justify-content: space-around;
  }
  .title {
    font-size: 1.2rem !important;
  }
  .logo {
    width: 60%;
  }
  .mt-5 {
    margin-top: 0rem !important;
    padding-top: 0rem !important;
  }
  .navbar .container-fluid {
    display: flex;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
