@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.seymour-one-regular {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header .navbar {
  padding: 1rem;
  background-color: #061b24;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
header .navbar .navbar-brand {
  text-align: center;
  padding: 0 10px;
}
header .navbar .navbar-brand .logo {
  margin: 0 auto;
}
header .navbar .navbar-toggler {
  display: flex;
  color: #ffffff;
  line-height: normal;
}
header .navbar .navbar-toggler .navbar-toggler-icon {
  display: none;
  border: none;
}
header .navbar ul {
  list-style: none;
}
header .navbar ul li a {
  color: #ffffff;
  text-decoration: none;
}
header .navbar .nav-link {
  position: relative;
}
header .navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  /* Ajusta esta medida para cambiar la distancia del subrayado */
  height: 2px;
  /* Ajusta esta medida para cambiar el grosor del subrayado */
  width: 0;
  background-color: #ffffff;
  /* Cambia el color del subrayado */
  transition: width 0.3s ease-in-out;
}
header .navbar .nav-link:hover::after {
  width: 100%;
}

/**/
footer {
  background-color: #061b24;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem !important;
  padding: 3rem !important;
}
footer ul {
  padding: 0;
}
footer ul li {
  font-weight: 600;
}
footer ul li a {
  color: #abbed1;
}
footer .redes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none !important;
}
footer .redes .btn {
  width: 4rem;
  padding: auto;
  margin: 0;
}

.btn-outline-success {
  background-color: #03676e;
  color: #ffffff;
  border-radius: 5px;
}

.card {
  background-color: #ffffff;
}

.card {
  transition: transform 0.5s;
  overflow: hidden;
  border-color: #ccc;
  border-width: 0.3rem;
  border-radius: 0%;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.card:hover .card-img-overlay {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  /* Efecto de zoom sutil */
  visibility: visible;
  /* Mostramos el overlay al pasar el mouse */
}
.card .card-img-overlay {
  /* ... otros estilos ... */
  visibility: hidden;
  /* Ocultamos el overlay por defecto */
}
.card .title {
  font-size: 3rem !important;
  font-weight: 800;
}

/****formulario de contacto****/
.contact-form-area {
  background: #fff;
  -webkit-box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 25px rgba(194, 194, 194, 0.25);
  border-radius: 26px;
  padding: 100px;
  margin-top: 120px;
  position: relative;
  z-index: 1;
}

.contact-form-heading h3 {
  color: #323657;
  text-align: center;
  margin-bottom: 60px;
  font-weight: 700;
}

.contact-form-area input[type=text] {
  width: 49.6%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #323657;
  padding: 10px 5px;
  color: #323657;
}

.contact-form-area input[type=email] {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #323657;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #323657;
  padding: 10px 5px;
}

.contact-form-area textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #323657;
  color: #323657;
  padding: 10px 5px;
}

#formsend {
  background: #027368;
  color: #ffffff;
  border: none;
  padding: 12px 42px;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}
#formsend:hover {
  background: #04ADBF;
}

.form-contacto {
  height: auto;
}

/*
.newsletter{  
    padding-top: 0 !important;


}*/
#map {
  width: 100%;
  height: 600px !important;
  margin-top: 120px !important;
}

.w-100 p {
  color: #ffffff;
  border-radius: 10px;
  height: auto;
  font-size: 1.5rem;
  position: absolute;
  /* Posiciona el texto de forma absoluta dentro del contenedor este position es el que hace el texto quede sobre el video y el z-index 100 hace que se muestre el modal dejandolo por adelante del video*/
  top: 40%;
}
.w-100 p span {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.w-100 p span .btn-danger {
  background-color: #fa5604;
  border: none;
}
.w-100 p span .btn-warning:hover {
  color: #d6e0e1 important;
}
.w-100 p span .ahora {
  color: #fa5604;
  font-weight: 700;
}

body main h1 {
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body main .texto-bienvenida {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  /* Centra el texto horizontal y verticalmente */
}
body main .texto-bienvenida .bienvenido {
  color: #ffffff;
  font-size: 3rem;
  font-family: "Seymour One", sans-serif;
  padding: 10px;
}
body main .texto-bienvenida h3 {
  font-weight: 700;
  color: #e8f4f4;
}
body main .texto-bienvenida .descubri {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.6rem;
  position: relative;
  /* Posiciona el texto de forma absoluta dentro del contenedor */
}
body main .texto-bienvenida .descuento {
  position: relative;
  /* Posiciona el texto de forma absoluta dentro del contenedor */
  top: 40%;
  z-index: 500;
}
body main .texto-bienvenida .descuento p {
  color: #ffffff;
  border-radius: 10px;
  height: auto;
  font-size: 1.5rem;
  justify-content: center;
}
body main .texto-bienvenida .descuento p span {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
body main .texto-bienvenida .descuento p span button {
  z-index: 1000;
}
body main .texto-bienvenida .descuento p span .btn {
  color: #04faa8;
  border: none;
}
body main .texto-bienvenida .descuento p span:hover {
  color: #d6e0e1 important;
}
body main video {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  object-fit: cover;
  z-index: 0;
  /* Coloca el video detrás de otros elementos */
  overflow: hidden;
  /*para que oculte el contenido que queda "desbordado"*/
}
body main .background_video {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
body section {
  text-align: center;
}
body section .disfruta {
  margin-top: 5rem;
  text-align: center;
  font-size: 2.1rem;
  color: #ffffff;
  font-weight: 500;
}
body section h3 {
  color: #fff;
}
body section h4 {
  color: #fff;
}
body section .text-white {
  color: #ffffff;
  background-color: rgba(7, 15, 15, 0.4588235294);
  display: inline-block;
  border-radius: 0.7rem;
  padding: 10px 20px;
}

main section {
  margin-bottom: 1rem;
}
main section .fs-2 {
  font-weight: 600;
  color: #ff4400;
  font-family: "Seymour One", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  font-size: 3rem;
}
main section .form-contacto {
  width: 70%;
}
main section .mapa {
  width: 70%;
}
main .contactanos {
  justify-content: center;
}

.principal {
  margin-top: 10rem;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
}
.principal h1 {
  font-size: 1rem;
  font-weight: 600;
  color: #ff4400;
  font-family: "Seymour One", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.principal .fs-5 {
  color: black;
  font-size: 1.2rem;
  font-weight: 300;
}
.principal .explora {
  flex-direction: column;
  display: flex;
  background-color: #08364A;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  list-style: none !important;
  padding-left: 0;
  font-size: 3.5rem;
  width: 100;
}
.principal .explora .btn {
  width: 5.5rem;
}
.principal .explora ul {
  list-style-type: none !important;
}
.principal .card {
  margin-bottom: 0.5rem !important;
}

aside {
  text-align: center;
  margin-top: 1rem;
}
aside h3 {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #198754;
  font-family: "Seymour One", sans-serif;
}

body .border {
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}
body .info {
  margin-top: 8rem;
}
body .info h1 {
  justify-content: center;
  font-size: 3rem !important;
}
body .info .container {
  align-items: center !important;
}
body .info .container .nosotros {
  color: #ff4400;
  font-family: "Seymour One", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}
body .info .container p {
  font-size: 1.2rem !important;
}
body .info .col-12 {
  text-align: center !important;
}
body .info .col-12 .nosotros {
  font-size: 2.8rem !important;
  color: #ff4400;
  font-family: "Seymour One", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  font-weight: 900;
  padding-top: 4rem !important;
}
body .info .container-fluid {
  margin: 4rem 0 4rem !important;
}
body .info .container-fluid h4 {
  text-align: center;
  font-size: 3rem !important;
  color: #eb5d20;
}
body .faq {
  padding: 5rem 0 !important;
}
body .faq .border {
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}
body .faq h4 {
  color: #ff4400;
  font-family: "Seymour One", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 2rem !important;
}
body .clientes {
  text-align: center;
  padding: 5rem 0;
}
body .clientes h3 {
  color: #ff4400;
  font-family: "Seymour One", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}
body .clientes .testimonials {
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
body .clientes .testimonial-inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
body .clientes .border {
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}
body .clientes .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .clientes .col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
body .clientes .testimonial {
  background: #fff;
  padding: 30px;
}
body .clientes .testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
body .clientes .name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
body .clientes .stars {
  color: #f0932b;
  margin-bottom: 20px;
}
@media screen and (max-width: 960px) {
  body .clientes .col {
    flex: 100%;
    max-width: 80%;
  }
}

body {
  background-color: #e7e7e7;
}
body .seccion_principal {
  margin-top: 10rem;
}
body .seccion_principal h1 {
  color: #ff4400;
  font-family: "Seymour One", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  margin-top: 4rem;
}
body .seccion_principal .fs-5 {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3rem;
}
body .seccion_principal h2 {
  font-weight: 900;
  padding-top: 1rem;
  font-size: 1.6rem;
}
body .seccion_principal .seleccion {
  font-weight: 700;
  font-size: 2.3rem;
  color: #061b24;
  margin-top: 2rem !important;
  font-weight: 900;
}
body .seccion_principal mark {
  font-size: 1.8rem;
  background-color: #198754;
  color: #ffffff;
}
body .seccion_principal .descripcion {
  font-weight: 300;
}
body .seccion_principal .card {
  border-radius: 1rem;
}
body .seccion_principal .card .card-body .fs-5 {
  text-align: center;
}
body .seccion_principal .card .card-footer {
  border: none !important;
  background-color: #ffffff;
}
body .seccion_principal .card .btn-primary {
  background-color: #198754;
  border: #198754;
  margin-bottom: 2rem !important;
}
body article {
  background-color: #198754;
  color: #ffffff;
}

/**************************************************index*****************************************************/
@media (max-width: 768px) {
  body main section {
    margin-top: 25px;
  }
  body main section .row .texto-bienvenida {
    margin-top: 1rem;
    width: 100% !important;
  }
  body main section .row .texto-bienvenida .bienvenido {
    font-size: 1.5rem !important;
    padding: auto;
  }
  body main section .row .texto-bienvenida .descubri {
    font-size: 1.4rem !important;
  }
  body main section .row .texto-bienvenida .descuento {
    font-size: 0.9rem;
  }
  body main section .row .texto-bienvenida .descuento p {
    font-size: 0.8rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
  body main section .row .texto-bienvenida .descuento span .btn {
    width: 7rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }
  body video {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    object-fit: cover;
    z-index: 0;
    /* Coloca el video detrás de otros elementos */
    overflow: hidden;
    /*para que oculte el contenido que queda "desbordado"*/
  }
  body .background_video {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  body section {
    height: auto;
  }
  body section .disfruta {
    font-size: 1.6rem;
    margin-top: 0.2rem;
  }
  body section .fs-3 {
    font-size: 1.2rem !important;
  }
  body section .fs-5 {
    font-size: 1rem !important;
    line-height: 1.3rem;
  }
  body section p {
    font-size: 0.9rem;
    text-align: center;
    justify-self: flex-start;
  }
  body section span {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }
  body section span button {
    z-index: 1000;
  }
  body section span .btn-danger {
    border: none;
  }
  body section .card {
    margin-bottom: 5rem !important;
  }
  /**************************destinos*******************/
  body .principal {
    margin-top: 0;
    text-align: center;
    font-weight: 800;
    color: #ffffff;
    padding: 0;
  }
  body .principal .fs-5 {
    font-size: 0.6rem;
    font-weight: 300;
  }
  body .principal h1 {
    font-size: 1.5rem !important;
  }
  body .principal .explora {
    flex-direction: column;
    display: flex;
    background-color: #08364A;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style: none !important;
    padding-left: 0;
  }
  body .principal .explora .btn {
    width: 5.5rem;
  }
  body .principal .explora p {
    font-size: 1.5rem;
  }
  body .principal .explora ul {
    list-style-type: none !important;
  }
  body aside {
    text-align: center;
  }
  body aside h3 {
    font-size: 1rem;
  }
  /********************************************************footer**********************************************/
  footer {
    display: block;
    justify-content: center;
  }
  footer .container {
    display: flex;
    justify-content: center;
  }
  footer .container .row .col .navbar-brand {
    margin-right: 0;
  }
  footer .container .row .col .navbar-brand .logo {
    width: 50%;
  }
  footer .container .row .col .text-center {
    font-size: 2rem !important;
  }
  /*******************************actividades****************/
  body .seccion_principal {
    margin-top: 0.5rem !important;
  }
  body .seccion_principal h1 {
    font-size: 1.3rem !important;
  }
  body .seccion_principal h2 {
    font-size: 1.1rem !important;
    width: 100% !important;
  }
  body .seccion_principal p {
    font-size: 0.9rem !important;
  }
  body .seccion_principal .seleccion {
    font-size: 1rem !important;
  }
  body .seccion_principal .py-5 col {
    margin-top: 0.1rem !important;
    margin-bottom: 0.1rem !important;
  }
  body .seccion_principal .py-5 .card {
    margin-bottom: 5% !important;
  }
  body .seccion_principal .py-5 .card .card-body .fs-5 {
    text-align: center;
  }
  /***********************información**************************/
  .info {
    margin-top: 4rem !important;
  }
  .info .nosotros {
    font-size: 1rem !important;
  }
  .info .nosotros p {
    font-size: 0.2rem;
  }
  .faq h4 {
    font-size: 1rem !important;
  }
  .clientes h3 {
    font-size: 1rem !important;
  }
  /********************************contacto******************************/
  main section {
    text-align: center;
  }
  main section p .fs-2 {
    font-weight: 600;
    color: #ff4400;
    font-family: "Seymour One", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    font-weight: 900;
    font-size: 2.5rem;
  }
  main section .form-contacto {
    width: 100%;
  }
  main section .mapa {
    width: 100%;
  }
  main .contactanos {
    justify-content: center;
  }
  /*********************************header******************************/
  header {
    display: block;
    justify-content: space-around;
    flex-direction: column;
    justify-content: flex-start;
  }
  header .navbar .navbar-brand {
    text-align: center;
    padding: 0 2px;
  }
  header .navbar .navbar-brand .logo {
    width: 50%;
    margin: 0 auto;
  }
  .navbar-toggler-icon {
    display: block;
    background-color: #ffffff;
  }
  /****************************este es el final de la mrdiquerie de 768 no borrar!!!!*******************/
}
@media (min-width: 320px) and (max-width: 767px) {
  /***************************información**********************************/
  .info {
    margin-top: 8rem !important;
  }
  .info .nosotros {
    font-size: 1rem !important;
  }
  .info .nosotros p {
    font-size: 0.2rem;
  }
  .faq h4 {
    font-size: 0.6rem !important;
  }
  .clientes h3 {
    font-size: 1rem !important;
  }
  /***************************destinos***************************/
  .principal h1 {
    font-size: 1rem !important;
  }
  .principal .fs-5 {
    color: #040746;
    font-size: 0.6rem;
    font-weight: 300;
  }
  .principal .explora {
    flex-direction: column;
    display: flex;
    background-color: #08364A;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style: none !important;
    padding-left: 0;
  }
  .principal .explora .btn {
    width: 5.5rem;
  }
  .principal .explora p {
    font-size: 1rem !important;
  }
  .principal aside h3 {
    font-size: 0.6rem;
  }
  /**************************actividades******************************/
  /*******************************actividades****************/
  body {
    margin-top: 10rem !important;
  }
  body .seccion_principal {
    margin-top: 2rem !important;
  }
  body .seccion_principal h1 {
    font-size: 1.3rem !important;
  }
  body .seccion_principal h2 {
    font-size: 1.1rem !important;
    width: 100% !important;
  }
  body .seccion_principal p {
    font-size: 0.9rem !important;
  }
  body .seccion_principal .seleccion {
    font-size: 1rem !important;
  }
  body .seccion_principal .py-5 col {
    margin-top: 0.1rem !important;
    margin-bottom: 0.1rem !important;
  }
  body .seccion_principal .py-5 .card {
    margin-bottom: 10px !important;
  }
  body .seccion_principal .py-5 .card .card-body .fs-5 {
    text-align: center;
  }
  /*contacto*/
  main section .form-contacto {
    width: 100%;
  }
  main section .contact-form-area {
    /* ... other styles ... */
  }
}
@media (min-width: 320px) and (max-width: 767px) and (max-width: 768px) {
  main section .contact-form-area {
    padding: 50px;
    margin-top: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) and (max-width: 320px) {
  main section .contact-form-area {
    padding: 20px;
    margin-top: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  main section .contact-form-area input[type=text],
  main section .contact-form-area input[type=email],
  main section .contact-form-area textarea {
    width: 100%; /* Make all inputs full-width on smaller screens */
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) and (min-width: 768px) {
  main section .contact-form-area input[type=text],
  main section .contact-form-area input[type=email],
  main section .contact-form-area textarea {
    width: 49.6%; /* Restore original width for larger screens */
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  main section .mapa {
    width: 100%;
  }
  main .contactanos {
    justify-content: center;
  }
}
/******cierre mediaqueries 576 no borrar!!!**********/
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    position: sticky;
    display: flex;
    justify-content: space-around;
  }
  .navbar .title {
    font-size: 1.2rem !important;
  }
  .navbar .logo {
    width: 5rem;
  }
  .navbar .mt-5 {
    margin-top: 0rem !important;
    padding-top: 0rem !important;
  }
  .navbar .explora .card-text {
    font-size: 2.2rem !important;
    font-weight: 800;
    height: auto;
  }
  .navbar aside .card-title {
    font-size: 1.1rem !important;
  }
  .navbar .container-fluid {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .navbar {
    position: sticky;
    display: flex;
    justify-content: space-around;
  }
  .title {
    font-size: 1.2rem !important;
  }
  .logo {
    width: 60%;
  }
  .mt-5 {
    margin-top: 0rem !important;
    padding-top: 0rem !important;
  }
  .navbar .container-fluid {
    display: flex;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
