//colores principales

$color-dark: #0A1118;
$color-brand:#ffc107;
$accent-color:#ff6b6b;


// Typography
$text-primary: #0A1118;
$text-inverse: #FFFFFF;
$text-accent: #FFC107;

$font-body: 'Inter', sans-serif;
$font-display: 'Playfair Display', serif;


