@import "../utilities/mixins";

main{

    section{   
        margin-bottom: 1rem;       
            .fs-2{             
            font-weight: 600;
            @include texto;         
            font-size: 3rem;         
            
            }

            .form-contacto{
                width: 70%;
                
            }
            


            
          .mapa{
            width: 70%;
          }
      
    }

    .contactanos{
      justify-content: center;
    }
}