@import "../utilities/mixins";

main{
    section{          
            .fs-2{             
            font-weight: 600;
            @include texto;
            font-weight: 900;
            font-size: 2.5rem;
           
            
            }
            
          
      
    }
}