@import "../utilities/mixins";
@import"../utilities/variables";

.principal {
    text-align: center;
    font-weight: 800;      
    color: #ffffff;
    padding: 0;
    margin-top: 1rem;
   
    h1 {    
  
        font-weight: 600;
        @include texto;
        margin-bottom:0;
    }


    .fs-5 {
        margin-top: auto;
        color:black;
        font-size: 1.8rem;
        font-weight: 200;
    }

    .container-fluid{
      
        margin-top: 0;
    }

    .explora {      
        flex-direction: column;
        display: flex;
        @include estilo-footer;
        @include estilo-redes;
        font-size: 3.5rem;
        

        ul {
            list-style-type: none !important;
        }
    }

}

aside {
    text-align: center;
    margin-top: 4rem;
   h3{
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}}