@import "../utilities/mixins";
@import"../utilities/variables";

.principal {
    margin-top: 10rem;
    text-align: center;
    font-weight: 800;
    color: #ffffff;
  
    
    h1 {    
       font-size: 1rem;
        font-weight: 600;
        @include texto
    }


    .fs-5 {
        color:black;
        font-size: 1.2rem;
        font-weight: 300;
    }

    .explora {
        flex-direction: column;
        display: flex;
        @include estilo-footer;
        @include estilo-redes;
        font-size: 3.5rem;
       width: 100;
        

        ul {
            list-style-type: none !important;
        }
    }

    .card {
        margin-bottom: 0.5rem!important;

       
    }

   

}

aside {
    text-align: center;
    margin-top: 1rem;
    h3{           
        padding: 1rem;
        font-size: 1.5rem;       
        font-weight: 500;
        color: #198754;
        font-family: "Seymour One", sans-serif;
    }
}