$primary-button-color:#027368eb; //color butttons

$principal-color:background-color #08364A; //background header y footer


$background-body: #e7e7e7;  //background body

$text-color: #eb5d20;

$font-primary:"Mukta", sans-serif;

