footer {
    background-color: #08364A;
    color: #ffffff;
    display: flex;
    justify-content: space-around;    
    margin-top: 1.8rem;

.redes{
    display: flex;
    text-decoration: none;
    list-style: none !important;
}

}
