


/*16.5 Contact Form Button*/
.send-btn {
	text-align: center;
	margin-top: 80px
}

.buscador input {
    border-radius: 0.3rem !important;
    .fondo-buscador {
        background-color: #027368eb;
        color: #ffffff;
    
    }
    
   
    
    .fondo-buscador {
        background-color: #027368eb;
        color: #ffffff;
    
    }

    .newsletter{
  
        padding-top: 0 !important;
        
    }

    

}