.infoContainer{
    background-color: aquamarine;    
    text-align: center;


    .infoTitle{
        font-size: 2.5rem;
        
    }


    .infoText{
        font-size: 1.2rem;
    }

    .nosotrosImg{
        width:80%;
        height: auto;

    }
}