@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.footer {
    width: 100%;
    height: auto;
    background-color: v.$color-dark;
    color: v.$text-inverse;
    border: none;
    text-align: center;    
    padding: 4rem;



    @include m.desktop {
        display: flex;
        justify-content: space-between;
    }

    .centerContainer {

        text-align: center;
    }


    .logoContainer {
        align-self: flex-start;
        display: flex;
        align-items: center;
    }

    .logo {
        width: 5em;
        height: auto;
        margin-top: 3rem;
    }

    .social {
       
        font-size: 1.5rem;
        box-sizing: border-box;
        gap: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        

    }
}

.mapaSitio{
    font-size: 1.5rem;
    font-weight: 700;
    color: v.$color-brand;
    margin-bottom: 2rem;
}

.copy{
    margin-top: 2.5rem;
    font-size: 1rem;
}

.terms{
   margin:1.2rem;
}