/*********************************************Mediaqueries********************************************/


@media (max-width: 767px) {


    .navbar {
        position: sticky;
        display: flex;
        justify-content: space-around;
    }


    .title {
        font-size: 1rem !important;     

    }


    .logo {
        width: 6rem;

    }

    .mt-5 {
        margin-top: 0rem !important;
        padding-top: 0rem !important;
    }


    .navbar .container-fluid{    
        display: flex;
        justify-content: space-around;
    }

  
}

.background-video{
    height: 50%;

}



