// tableta posicion horizontal (paisaje)

@media (min-width: 768px) and (max-width: 1024px) {

    .navbar {
        position: sticky;
        display: flex;
        justify-content: space-around;
   


    .title {
        font-size: 1.2rem !important;
     

    }


    .logo {
       width: 5rem;

    }


    .mt-5 {
        margin-top: 0rem !important;
        padding-top: 0rem !important;
    }


    .explora .card-text {
        font-size: 2.2rem !important;
        font-weight: 800;
        height: auto;      

}


aside .card-title{
    font-size: 1.1rem !important;
}

}


.navbar .container-fluid{    
    display: flex;
    justify-content: space-around;
}


}


//tablets orientacion vertical (retrato)
@media (min-width:480px ) and (max-width: 768px) {


    .navbar {
        position: sticky;
        display: flex;
        justify-content: space-around;
    }


    .title {
        font-size: 1.2rem !important;     

    }


    .logo {
        width: 60%;

    }

    .mt-5 {
        margin-top: 0rem !important;
        padding-top: 0rem !important;
    }


    .navbar .container-fluid{    
        display: flex;
        justify-content: space-around;
    }

  
}






